#main-header {
  background-color: #ffffff;
  color: #000000;
  border-bottom: 1px solid #e5e5e5 !important;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@media (max-width: 768px) {
  #main-header {
    padding: 0;
  }
}
